.iconContainer {
    height: 2.5vw;
    min-height: 12px;
    padding: 0 .8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconContainer a {
    display: flex;
}

.p3do,
.android,
.appleii,
.atari2600,
.atari5200,
.atari7800,
.atari8bit,
.atarilynx,
.atarist,
.atarixegs,
.commodoreamiga,
.dreamcast,
.gameboyadvance,
.gameboycolor,
.gamegear,
.gamecube,
.genesis,
.ios,
.jaguar,
.linux,
.macintosh,
.macos,
.neogeo,
.nes,
.nintendo3ds,
.nintendo64,
.nintendods,
.nintendodsi,
.nintendoswitch,
.pc,
.playstation1,
.playstation2,
.playstation3,
.playstation4,
.playstation5,
.psvita,
.psp,
.sega32x,
.segacd,
.segamastersystem,
.segasaturn,
.snes,
.wii,
.wiiu,
.xboxold,
.xboxone,
.xboxseriesx,
.xbox360,
.stadia {
    width: auto;
    height: 100%;
    transition-duration: .2s;
    cursor: pointer;
}

.gamecube {
    height: 110%;
}

/* .iconContainer a > svg:hover {
    transform: scale(1.25, 1.25);
} */

.nintendoswitch {
    height: 115%;
}

.playstation3 {
    height: 85%;
}

.playstation4 {
    height: 120%;
}

.wii {
    height: 220%;
    margin-bottom: 1px;
    fill: #8b8b8b;
}

.wiiu {
    
}

/* .p3do {
    
}

.android {
    
}

.appleii {
    
}

.atari2600 {
    
}

.atari5200 {
    
}

.atari7800 {
    
}

.atari8bit {
    
}

.atarilynx {
    
}

.atarist {
    
}

.atarixegs {
    
}

.commodoreamiga {
    
}

.dreamcast {
    
}

.gameboyadvance {
    
}

.gameboycolor {
    
}

.gamegear {
    
}

.gamecube {
    
}

.genesis {
    
}

.ios {
    
}

.jaguar {
    
}

.linux {
    
}

.macintosh {
    
}

.macos {
    
}

.neogeo {
    
}

.nes {
    
}

.nintendo3ds {
    
}

.nintendo64 {
    
}

.nintendods {
    
}

.nintendodsi {
    
}

.nintendoswitch {
    
}

.pc {
    
}

.playstation1 {
    
}

.playstation2 {
    
}

.playstation3 {
    
}

.playstation4 {
    
}

.playstation5 {
    
}

.psvita {
    
}

.psp {
    
}

.sega32x {
    
}

.segacd {
    
}

.segamastersystem {
    
}

.segasaturn {
    
}

.snes {
    
}

.wii {
    
}

.wiiu {
    
}

.xboxold {
    
}

.xboxone {
    
}

.xboxseriesx {
    
}

.xbox360 {
    
} */