.gameDetails {
    max-width: 100vw;
    padding-top: 125px;
    color: #ffffff;
}

.description {
    max-width: 100vw;
    margin-bottom: 0vw;
    align-items: center;
    justify-content: center;
}

.cover {
    width: 42vw;
    max-width: 600px;
    position: relative;
    margin-bottom: auto;
}

.esrb {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    gap: 10px;
}

.description img {
    max-width: 600px;
    margin-bottom: auto;
}

.infoContainer {
    width: 40%;
    max-width: 600px;
    margin: 0 0 auto 1.5625vw;
    flex-direction: column;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.infoContainer h2 {
    margin-bottom: 30px;
    font-size: 38px;
    line-height: 1;
    font-family: Lato, 'MS Sans Serif', Geneva, sans-serif;
    font-weight: 700;
}

.description,
.infoContainer,
.ratingsSection,
.buyContainer {
    display: flex;
}

.infoContainer section {
    flex-wrap: wrap;
    align-items: center;
}

.similarGames h3,
.similarGame {
    position: relative;
}

.gameModes {
    padding: 2px 4px;
    /* margin: 8px auto 8px 8px; */
    font-size: 13px;
    border-radius: 3px;
}

.gameModes h3 {
    padding: 0 8px 4px;
    margin-bottom: 4px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.gameModes span {
    display: block;
    line-height: 17px;
}

.gameModes svg {
    width: 18px;
    margin-right: 8px;
    font-size: 11px;
}

.ratingsSection {
    margin: 0 auto 35px 0;
    gap: 2vw;
    flex-wrap: wrap;
    font-size: 17px;
}

.gameRating > * {
    display: block;
    text-align: center;
}

.buyContainer {
    margin-bottom: 30px;
    gap: 10px;
    flex-wrap: wrap;
}

.buyContainer form {
    margin: auto auto auto 0;
}

.price {
    margin: auto 10px auto 0;
    font-size: 28px;
    font-weight: 400;
}

.details {
    display: inline;
    margin: 20px auto 40px 0;
    text-align: center;
}

.platformsSection {
    padding: 0 25px;
    padding-bottom: 15px;
    margin-right: auto;
    background-color: rgba(255, 255, 255, .5);
    font-size: 14px;
}

.platformsSection p {
    text-align: center;
    margin: 15px 0;
}

.platforms {
    display: flex;
    flex-wrap: wrap;
}

.platforms svg {
    margin: 0 .2vw;
}

.additionalDetails {
    margin: 3vw 6vw;
    padding: 0 6vw;
    text-align: justify;
}

.additionalDetails h4 {
    margin-bottom: 16px;
    font-size: 20px;
}

.similarGames {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.similarGames h3 {
    padding: 2px 0 4px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.similarGames h3::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 50%;
    right: 0;
    width: 4vw;
    height: 2px;
    transform: translateX(-50%);
    border-top: 2px solid #a62626;
    z-index: -1;
}

.similarGamesList {
    width: 100%;
    padding: 8px 0;
    display: flex;
    overflow-x: auto;
}

.similarGame {
    display: flex;
    flex-direction: column;
    margin: 0 2vw auto;
    color: #bbbbbb;
    text-shadow: 0 2px 2px #a62626;
}
.similarGame img,
.similarGame h5,
.similarGame h6,
.similarGame p {
    transition-duration: .16s;
}

.similarGame h5 {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
}

.similarGame h6 {
    right: 0;
    top: -5px;
    white-space: nowrap;
    transform: translateX(20%);
    font-size: 12px;
    opacity: 0;
}

.similarGame h6,
.similarGame p {
    position: absolute;
}

.similarGame p {
    left: 0;
    top: 110px;
    font-size: 17px;
    transform: translateX(-20%);
    font-weight: 500;
    opacity: 0;
}

.similarGame:hover img {
    display: flex;
    transform: scale(1.12, 1.12);
    filter: brightness(40%);
}

.similarGame:hover h5 {
    color: #ffffff;
}

.similarGame:hover h6,
.similarGame:hover p {
    opacity: 1;
    transform: translateX(0%);
}