.gameDetails {
    max-width: 100%;
    padding-top: 125px;
    color: #ffffff;
}


.description {
    max-width: 100%;
    margin-bottom: 0vw;
    align-items: center;
    justify-content: center;
}

.description > div {
    width: 43%;
}

.coverContainer {
    margin-bottom: auto;
}

.cover {
    width: 42vw;
    max-width: 600px;
    position: relative;
}

.esrb {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    gap: 10px;
}

.description img {
    max-width: 600px;
    margin-bottom: auto;
}

.infoContainer {
    width: 40%;
    max-width: 600px;
    margin: 0 0 auto 1.5625vw;
    flex-direction: column;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.infoContainer h2 {
    margin-bottom: 30px;
    font-size: 38px;
    line-height: 1;
    font-family: Lato, 'MS Sans Serif', Geneva, sans-serif;
    font-weight: 700;
}

.description,
.infoContainer,
.ratingsSection,
.buyContainer {
    display: flex;
}

.infoContainer section {
    flex-wrap: wrap;
    align-items: center;
}

.gameModes {
    padding: 2px 4px;
    /* margin: 8px auto 8px 8px; */
    font-size: 13px;
    border-radius: 3px;
}

.gameModes h3 {
    padding: 0 8px 4px;
    margin-bottom: 4px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.gameModes span {
    display: block;
    line-height: 17px;
}

.gameModes svg {
    width: 18px;
    margin-right: 8px;
    font-size: 11px;
}

.ratingsSection {
    margin: 0 auto 35px 0;
    gap: 2vw;
    flex-wrap: wrap;
    font-size: 17px;
}

.gameRating > * {
    display: block;
    text-align: center;
}

.buyContainer {
    position: relative;
    margin-bottom: 30px;
    gap: 10px;
    flex-wrap: wrap;
}

.buyContainer form {
    margin: auto auto auto 0;
}

.price {
    margin: auto 10px auto 0;
    font-size: 28px;
    font-weight: 400;
}

.details {
    display: inline;
    margin: 20px auto 40px 0;
    text-align: center;
}

.platformsSection {
    padding: 0 15px;
    padding-bottom: 15px;
    margin-right: auto;
    background-color: rgba(255, 255, 255, .5);
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.platformsSection p {
    text-align: center;
    margin: 15px 0;
}

.platforms {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.platforms div {
    margin: 0 0 .8vw;
}

.additionalDetails {
    margin: 3vw 6vw;
    padding: 0 6vw;
    text-align: justify;
}

.additionalDetails h4 {
    margin-bottom: 16px;
    font-size: 20px;
}

.spinnerWrapper {
    position: relative;
    min-width: 100%;
    min-height: calc(100vh - 125px);
}

.spinnerWrapper div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}