.similarGames,
.similarGames h3,
.similarGame {
    position: relative;
}

.similarGames {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.similarGames h3 {
    padding: 2px 0 4px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.similarGames h3::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 50%;
    right: 0;
    width: 4vw;
    height: 2px;
    transform: translateX(-50%);
    border-top: 2px solid #a62626;
    z-index: -1;
}

.similarGamesList {
    padding: 1.12vw 0;
    display: flex;
    overflow-x: auto;
}

.similarGame {
    display: flex;
    flex-direction: column;
    margin: 0 2vw auto;
    color: #bbbbbb;
    text-shadow: 0 2px 2px #a62626;
}

.similarGame img,
.similarGame h5,
.similarGame h6,
.similarGame p {
    transition-duration: .16s;
}

.similarGame h5 {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
}

.coverWrapper {
    position: relative;
    width: 13.994565217391305vw;
    height: 18.61413043478261vw;
}

.coverWrapper h6 {
    right: 0;
    top: -5px;
    white-space: nowrap;
    transform: translateX(20%);
    opacity: 0;
}

.coverWrapper h6,
.coverWrapper p {
    position: absolute;
    font-size: calc(17px + .2vw);
}

.coverWrapper p {
    left: 0;
    bottom: -10px;
    transform: translateX(-20%);
    font-weight: 500;
    opacity: 0;
}

.coverWrapper:hover img {
    display: flex;
    transform: scale(1.12, 1.12);
    filter: brightness(40%);
}

.similarGame:hover h5 {
    color: #ffffff;
}

.similarGame:hover h6,
.coverWrapper:hover p {
    opacity: 1;
    transform: translateX(0%);
}