.platformsSection {
    width: 94%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.platformsSection h2 {
    width: 100%;
    margin: 20px 0;
    color: white;
    text-align: center;
}