.authForm {
    width: 100%;
}

.authForm > * {
    display: block;
}

.authForm label {
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, .8);;
    font-size: 16px;
    font-weight: 400;
}

.authForm input,
.forgotPass,
.submit {
    font-size: 14px;
}

.authForm input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    background-color: transparent;
    color: rgba(255, 255, 255, .8);
    line-height: 18px;
    border: 1px solid rgba(255, 255, 255, .1);
    transition-duration: .2s;
}

.authForm input:focus {
    border-color: rgba(255, 255, 255, .16);
}

.required {
    margin-left: 5px;
    color: #e01020;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}

.forgotPass {
    margin-bottom: 20px;
}

.forgotPass svg {
    margin-right: 10px;
}

.submit {
    width: 100%;
    height: 42px;
    margin: 20px 0;
    background-color: #a62626;
    border-color: #a62626;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.submit:hover {
    background-color: #912121;
    border-color: #912121;
}