header,
#logo {
    transition-duration: .1s;
}

header li a,
.fa-chevron-down,
#auth-btn {
    color: white;
    text-shadow: 0 2px 1px rgba(0, 0, 0, .6);
}

header {
    height: 95px;
    width: 100%;
    top: 0px;
    padding: 0 2.4%;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    font-family: 'Lato', sans-serif;
    transition-timing-function: ease-in-out;
    color: white;
}

header nav ul {
    list-style-type: none;
}

header #pages-nav {
    display: flex;
    margin: auto 0;
}

#pages-nav ul {
    list-style-type: none;
    display: flex;
}

#pages-nav li {
    margin: 0 0.8vw;
    display: inline-flex;
}

#pages-nav li a {
    min-width: max-content;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    transition-duration: .2s;
}

#pages-nav li a.selected {
    color: rgb(185, 185, 185);
    text-shadow: 0 2px 1px rgba(0, 0, 0, .8);
}

#logo {
    height: 74%;
    margin: auto;
}

#user-nav {
    margin: auto 0 auto auto;
}

#auth-btn {
    display: inline;
    background-color: transparent;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}


/* when docked */


.docked {
    height: 75px;
    background-color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1024) {
    
}