.homeCard {
    position: relative;
    width: 260px;
    height: 130px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .35);
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
    border-radius: 2px;
    overflow: hidden;
}

.homeCard img {
    margin: auto;
    max-width: 100%;
    transition-duration: .22s;
}

.homeCard:hover img {
    filter: brightness(80%);
}

.cardBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition-duration: .22s;
    opacity: .7;
}

.homeCard h3,
.available,
.exploreLink {
    position: absolute;
    padding: 0 4px;
    background-color: rgba(0, 0, 0, .45);
    border: 1px solid rgba(255, 255, 255, .35);
}

.homeCard h3 {
    left: 0;
    top: 0;
    padding: 2px 5px 2px 4px;
    /* margin-right: auto; */
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    transform: translate(-1px, -1px);
    border-radius: 0 0 6px 0;
}

.link {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 16px;
    letter-spacing: .5px;
    transform: translate(-50%, -50%);
    transition-duration: .3s;
    opacity: 0;
}

.exploreLink,
.available {
    bottom: 0;
    margin: auto ;
    font-family: 'Open Sans', sans-serif;
    color: rgb(200, 200, 200);
    font-size: 13px;
    line-height: 14px;
    transition-duration: .22s;
}

.exploreLink {
    left: 0;
    padding: 4px 5px 3px 3px;
    transform: translate(-100%, 100%);
    border-radius: 0 6px 0 0;
}

.available {
    right: 0;
    padding: 4px 3px 3px 5px;
    transform: translate(100%, 100%);
    border-radius: 6px 0 0 0;
}

.available:hover,
.exploreLink:hover {
    color: white;
}

.homeCard:hover .exploreLink {
    transform: translate(-1px, 1px);
}

.homeCard:hover .available {
    transform: translate(1px, 1px);
}