* {
	margin: 0;
	padding: 0;
	background-color: transparent;
	text-decoration: none;
	border: none;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

html {
	background-color: aliceblue;
}

body {
	background-color: aqua;
}