.addToCartForm {
    /* min-height: 32px; */
    /* max-width: 180px; */
    position: relative;
    padding-left: 3px;
    display: flex;
    border-radius: 3px;
    transition-duration: .22s;
    box-shadow: 0 1px 5px 1px rgba(255, 255, 255, .3);
}

.addToCartForm * {
    transition-duration: .22s;
    color: white;
}

.addToCartForm div {
    height: 100%;
    max-width: 160px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addToCartForm select {
    margin-right: 3px;
}

.option {
    border: none;
    background-color: black;
}

.option:hover {
    background-color: black;
    border-radius: 10px;
}

.quantity {
    height: 0;
    padding-left: 3px;
    margin-right: auto;
    font-size: 15px;
    transform: scaleY(0);
}

.quantity input {
    width: 63px;
    padding: 2px 3px;
    border-radius: 2px;
    box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, .25);
}

.quantity input:focus {
    box-shadow: inset 0 0 3px 1px rgba(255, 255, 255, .3);
}

.submitContainer {
    position: relative;
}

.logedWarning {
    position: absolute;
    left: 50%;
    top: calc(100% + 6px);
    padding: 3px 5px;
    background-color: #575757;
    font-size: 12px;
    white-space: nowrap;
    transform: translateX(-50%);
    transition-duration: .2s;
    border-radius: 4px;
}

.warningTriangle {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 50%;
    top: -3px;
    background-color: #575757;
    transform: translateX(-50%) rotateZ(-45deg);
}

.addToCartForm button {
    position: relative;
    height: 100%;
    padding: 6px 10px;
    border-radius: 0 3px 3px 0;
    box-shadow: inset 0 0 20px 0px rgba(255, 255, 255, .3);
    transition-duration: .22s;
}

.addToCartForm button:hover {
    box-shadow: inset 0 0 20px 0px rgba(255, 255, 255, .35);
}

.addToCartForm button[disabled], .addToCartForm select[disabled] {
    opacity: .5;
    z-index: -1;
}

.addToCartForm button[disabled]:hover {
    box-shadow: inset 0 0 20px 0px rgba(255, 255, 255, .3);
}